<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>RESPERE</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;700&family=Work+Sans:wght@400;600&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Header Start -->
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg navbar-dark px-lg-5">
            <a href="{% url 'About' %}" class="navbar-brand ms-4 ms-lg-0">
                <h2 class="mb-0 text-primary text-uppercase">
  <i class="fa-solid fa-spray-can-sparkles me-1"></i> RESPERE
</h2>
            </a>
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav mx-auto p-4 p-lg-0">
                    <a href="{% url 'Home' %}" class="nav-item nav-link active">Home</a>
                    <a href="{% url 'About' %}" class="nav-item nav-link">About</a>
                    <a href="{% url 'product' %}" class="nav-item nav-link">Product</a>
                             <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Categories</a>
                        <div class="dropdown-menu m-0">
                            {% for p in categories %}
                            <a href="{% url 'filtered_product' cat_name=p.category %}" class="dropdown-item active">{{p.category}}</a>
                            {% endfor %}
<!--                            <a href="testimonial.html" class="dropdown-item">Testimonial</a>-->
<!--                            <a href="404.html" class="dropdown-item">404 Page</a>-->
                        </div>
                    </div>
                    <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
                </div>
                <div class="d-none d-lg-flex">
                    <a href="{% url 'Cart_page' %}" class="position-relative me-4 my-auto">
                                <i class="fa fa-shopping-bag fa-2x"></i>
                                <span class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1" style="top: -5px; left: 15px; height: 20px; min-width: 20px;">{{cart_total}}</span>
                            </a>
                </div>
         <div class="search-container">
    <form method="GET"
          action="{% url 'search_product' %}"
          class="search-bar d-flex justify-content-center">

        <input type="text"
               name="product"
               placeholder="Search Perfume"
               class="form-control"
               style="width:200px; border-radius:25px 0 0 25px; border:1px solid #E91E63; padding:10px 20px; color:#fff; background-color:#111;">

        <button type="submit"
                class="btn"
                style="background-color:#E91E63; border-radius:0 25px 25px 0; border:none; padding:10px 20px; color:#fff;">
            <i class="fa fa-search"></i>
        </button>
    </form>
</div>


            <div class="d-flex m-3 me-0">

    {% if request.session.Username %}

        <!-- Logout Div -->
        <div class="d-flex align-items-center me-3">
            <span class="me-3">
                👋 Welcome {{ request.session.Username }}
            </span>

            <a href="{% url 'user_logout' %}"
               class="btn btn-outline-primary rounded-pill px-3">
                 Logout
            </a>
        </div>

    {% else %}

        <!-- Login Div -->
        <div class="d-flex align-items-center">
            <a href="{% url 'User_register' %}"
               class="btn btn-outline-primary rounded-pill px-3">
                👤 Login
            </a>
        </div>

    {% endif %}

</div>
            </div>
        </nav>

        <div class="page-header pb-5">
            <div class="container text-center py-5">
                <h1 class="display-4 text-uppercase mb-3 animated slideInDown">Our Collection</h1>
<!--                <nav aria-label="breadcrumb animated slideInDown">-->
<!--                    <ol class="breadcrumb justify-content-center text-uppercase mb-0">-->
<!--                        <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>-->
<!--                        <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>-->
<!--                        <li class="breadcrumb-item text-primary active" aria-current="page"> Product</li>-->
<!--                    </ol>-->
<!--                </nav>-->
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Team Start -->
    <div class="container-fluid py-5 bg-secondary">
        <div class="container py-5">
            <div class="text-center">
                <div class="title wow fadeInUp" data-wow-delay="0.1s">
                    <div class="title-center">
                        <h5>PERFUMES</h5>
                        <h1> COLLECTIONS</h1>

                    </div>
                </div>
            </div>
            <!-- Price Filter -->
<!--<div class="row mb-4">-->

<!--    <div class="col-md-4">-->

<!--        <div style="-->
<!--            background:#111;-->
<!--            padding:20px;-->
<!--            border-radius:10px;-->
<!--            color:white;-->
<!--        ">-->

<!--            <h5 style="font-weight:bold;">Price</h5>-->

<!--            <h5>-->
<!--                ₹<span id="minPrice">-->
<!--                    {{ min_price|default:500 }}-->
<!--                </span>-->
<!--                –-->
<!--                ₹<span id="maxPrice">-->
<!--                    {{ max_price|default:10000}}-->
<!--                </span>-->
<!--            </h5>-->

<!--            <form method="GET" action="{% url 'product' %}">-->

<!--                <input-->
<!--                    type="range"-->
<!--                    name="min_price"-->
<!--                    id="minRange"-->
<!--                    min="500"-->
<!--                    max="10000"-->
<!--                    value="{{ min_price|default:40 }}"-->
<!--                    style="width:100%;"-->
<!--                >-->

<!--                <input-->
<!--                    type="range"-->
<!--                    name="max_price"-->
<!--                    id="maxRange"-->
<!--                    min="500"-->
<!--                    max="10000"-->
<!--                    value="{{ max_price|default:340 }}"-->
<!--                    style="width:100%;"-->
<!--                >-->

<!--                <button-->
<!--                    type="submit"-->
<!--                    class="btn btn-primary mt-3">-->
<!--                    Filter-->
<!--                </button>-->

<!--            </form>-->

<!--        </div>-->

<!--    </div>-->

<!--</div>-->


<!-- Products -->
<div class="row g-4">


                {% for i in product %}
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="team-body">
                            <div class="team-before">
                                <span>Size  :{{i.size}}</span>
                                <span>Price :{{i.price}}</span>
                                <span>Brand :{{i.brand}}</span>
                                <a href="{% url 'Single_iteam' pro_id=i.id  %}">



                            </div>
                            <img class="#" src="{{i.product_Image.url}}"  alt="" width="350px" height="500">
                            <div class="team-after">

                            </div>
                        </div>
                        <a class="team-name" href="#">
                            <h5 class="text-uppercase mb-0">{{i.product_name}}</h5>
                        </a>

                    </div>
 <div style="display:flex; align-items:center; gap:6px; margin-top:6px; margin-left:10px;">

    {% if forloop.counter == 1 %}
        <span style="color:#ff9900; font-size:19px;">★★★★★</span>
        <span style="color:#007185; font-size:14px;">125</span>

    {% elif forloop.counter == 2 %}
        <span style="color:#ff9900; font-size:19px;">★★★★☆</span>
        <span style="color:#007185; font-size:14px;">87</span>

    {% elif forloop.counter == 3 %}
        <span style="color:#ff9900; font-size:19px;">★★★☆☆</span>
        <span style="color:#007185; font-size:14px;">42</span>

    {% elif forloop.counter == 4 %}
        <span style="color:#ff9900; font-size:19px;">★★★★★</span>
        <span style="color:#007185; font-size:14px;">231</span>

    {% elif forloop.counter == 5 %}
        <span style="color:#ff9900; font-size:19px;">★★★★☆</span>
        <span style="color:#007185; font-size:14px;">64</span>

    {% elif forloop.counter == 6 %}
        <span style="color:#ff9900; font-size:19px;">★★★★☆</span>
        <span style="color:#007185; font-size:14px;">35</span>

     {% else %}
        <span style="color:#ff9900; font-size:19px;">★★★★☆</span>
        <span style="color:#007185; font-size:14px;">155</span>
    {% endif %}

</div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- Team End -->


  <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <a href="{% url 'About' %}">
                                <h1 class="mb-0 text-primary text-uppercase">
  <i class="fa-solid fa-spray-can-sparkles me-1"></i> RESPERE
</h1>
            </a>
<!-- Footer Start -->
<footer class="bg-dark text-light pt-5 pb-4 mt-5">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left">

      <!-- About -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
       <h5 class="text-uppercase mb-4 font-weight-bold" style="color:#E91E63;">
    Perfume Store
  </h5>
        <p>Discover luxury perfumes and fragrances that suit every mood and occasion. Quality, elegance, and authenticity in every bottle.</p>
      </div>

      <!-- Links -->
   <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
  <h5 class="text-uppercase mb-4 font-weight-bold" style="color:#E91E63;">
    Quick Links
  </h5>
  <p><a href="{% url 'Home' %}" style="color:#fff; text-decoration:none;">Home</a></p>
  <p><a href="{% url 'product' %}" style="color:#fff; text-decoration:none;">Products</a></p>
  <p><a href="{% url 'About' %}" style="color:#fff; text-decoration:none;">About</a></p>
  <p><a href="{% url 'contact' %}" style="color:#fff; text-decoration:none;">Contact</a></p>
       <p><a href="{% url 'terms' %}" style="color:#fff; text-decoration:none;">Terms $ Condition</a></p>

</div>

      <!-- Contact -->
     <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
  <h5 class="text-uppercase mb-4 font-weight-bold" style="color:#E91E63;">
    Contact
  </h5>
  <p style="color:#fff;">
    <i class="fa fa-home mr-3" style="color:#E91E63;"></i> Kochi, Kerala, India
  </p>
  <p style="color:#fff;">
    <i class="fa fa-envelope mr-3" style="color:#E91E63;"></i> Respere@perfumestore.com
  </p>
  <p style="color:#fff;">
    <i class="fa fa-phone mr-3" style="color:#E91E63;"></i> +91 7356425779
  </p>
</div>


      <!-- Social -->

         <div class="d-flex justify-content-center mb-4">
                <a class="btn btn-lg-square btn-outline-primary border-2 m-1"
                    href="https://www.facebook.com/yourprofile" target="_blank">
                 <i class="fab fa-facebook-f"></i></a>
               <a class="btn btn-lg-square btn-outline-primary border-2 m-1"
                         href="https://www.instagram.com/respere_fragrance" target="_blank">
                   <i class="fab fa-instagram"></i></a>
                <a class="btn btn-lg-square btn-outline-primary border-2 m-1" href="https://www.linkedin.com/in/moosa-munavvir"><i
                        class="fab fa-linkedin-in"></i></a>
            </div>



    <hr class="mb-4">

    <!-- Copyright -->
    <div class="row align-items-center">
      <div class="col-md-7 col-lg-8">
        <p>© 2026 Perfume Store. All Rights Reserved.</p>
      </div>
      <div class="col-md-5 col-lg-4">
        <p class="text-end" style="color:#fff;">
  Designed by <span style="color:#E91E63; font-weight:bold;">Munavvir</span>
</p>

      </div>
    </div>
  </div>
</footer>
<!-- Footer End -->

    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-outline-primary border-2 btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
            <script src="{% static 'js/main.js' %}"></script>

<!--<script>-->

<!--    const minRange = document.getElementById("minRange");-->
<!--    const maxRange = document.getElementById("maxRange");-->

<!--    const minPrice = document.getElementById("minPrice");-->
<!--    const maxPrice = document.getElementById("maxPrice");-->

<!--    minRange.addEventListener("input", function () {-->

<!--        if (parseInt(minRange.value) > parseInt(maxRange.value)) {-->
<!--            minRange.value = maxRange.value;-->
<!--        }-->

<!--        minPrice.innerText = minRange.value;-->

<!--    });-->

<!--    maxRange.addEventListener("input", function () {-->

<!--        if (parseInt(maxRange.value) < parseInt(minRange.value)) {-->
<!--            maxRange.value = minRange.value;-->
<!--        }-->

<!--        maxPrice.innerText = maxRange.value;-->

<!--    });-->

<!--</script>-->
</body>

</html>